@namespace RLTechnologies.Theme.HealthCare.Components

@inherits LoginBase
@inject IStringLocalizer<Login> Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer

    @if (PageState.User != null)
    {
        @if (PageState.Runtime == Runtime.Hybrid)
        {
            <button type="button" class="btn btn-primary" @onclick="LogoutUser">@Localizer["Logout"]</button>
        }
        else
        {
            <form method="post" class="app-form-inline" action="@logouturl" @formname="LogoutForm">
                <input type="hidden" name="@Constants.RequestVerificationToken" value="@SiteState.AntiForgeryToken" />
                <input type="hidden" name="returnurl" value="@returnurl" />
            <button type="submit" class="dnn-btn dnn-btn__primary dnn-btn__primary--signin">@Localizer["Logout"]</button>
            </form>
        }
    }
    else
    {
        @if (ShowLogin)
        {
            <a href="@loginurl"
                    class="dnn-btn dnn-btn__primary dnn-btn__primary--signin">
                @SharedLocalizer["Login"] Sign In
            </a>
        }
    }
@code
{
    [Parameter]
    public bool ShowLogin { get; set; } = true;
}
